<!DOCTYPE html>
{% extends "Article/base.html" %}

<head>
    {% block head %}
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
    {% endblock %}
</head>

<body>

    {% block content %}
    
    <table>
        <thead>
        <th> Title </th>
        <th> Author </th>
        <th> desription </th>
        <th> Published date </th>
        </tr>

    
        <tr>
        {% for obj in qs %}
        <td><a href="/detail/{{obj.id}}"> {{ obj.Title }}</a> </td>
        <td> {{ obj.Author }} </td>
        <td> {{ obj.description }} </td>
        <td> {{ obj.Publish_date }} </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <a href="/create" class="btn btn-primary btn-lg"> Add Blog</a>
    &nbsp; &nbsp; 
    <a href="/signup" class="btn btn-primary btn-lg"> Sign Up</a>
    &nbsp; &nbsp; 
    <a href="/accounts/login" class="btn btn-primary btn-lg">  Log In</a>
    &nbsp;&nbsp;
    <a href="/accounts/logout" class="btn btn-primary btn-lg">  Log Out</a>
    
    {% endblock %}


</body>
